@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Save", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoUsuario, "Tipo Usuario ", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10">
                        @*Html.DropDownList("IdAutor", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownList("tipoUsuarios",
                        (MultiSelectList)ViewBag.idTipoUsuario,
                        htmlAttributes: new { @class = "form-control", multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.TipoUsuario.FirstOrDefault().id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <input type="hidden" id="telefonos" name="telefonos" />
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10">
                        <input type="text" id="phoneNumberInput" placeholder="Número de teléfono" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Ingrese el numero de telefono sin espacios ni guiones" pattern="[0-9]+" />
                        <span id="phoneNumberError" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono.FirstOrDefault().tipoTelefono, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10">
                        <select id="phoneTypeSelect" class="form-control">
                            <option value="CEL">CEL</option>
                            <option value="CASA">CASA</option>
                            <option value="TRABAJO">TRABAJO</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-3" for="addPhoneNumberButton">Agregar</label>
                    <div class="col-md-8"></div>
                    <button type="button" id="addPhoneNumberButton" class="btn btn-success font-weight-normal btn-lg w-80">Agregar</button>
                </div>
                <ul id="phoneNumbersList"></ul>
            </div>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var phoneNumberInput = document.getElementById("phoneNumberInput");
        var phoneNumberError = document.getElementById("phoneNumberError");
        var phoneTypeSelect = document.getElementById("phoneTypeSelect");
        var addPhoneNumberButton = document.getElementById("addPhoneNumberButton");
        var phoneNumbersList = document.getElementById("phoneNumbersList");

        addPhoneNumberButton.addEventListener("click", function () {
            var phoneNumber = phoneNumberInput.value.replace(/[-\s]/g, ""); // Eliminar guiones y espacios

            if (phoneNumber.trim() === "") {
                showError("El número de teléfono no puede estar vacío");
            } else if (!isValidPhoneNumber(phoneNumber)) {
                showError("El número de teléfono no es válido");
            } else {
                phoneNumberInput.classList.remove("is-invalid");
                phoneNumberError.textContent = "";

                var listItem = document.createElement("li");

                var phoneNumberText = document.createElement("span");
                phoneNumberText.textContent = phoneNumber;
                listItem.appendChild(phoneNumberText);

                var phoneTypeText = document.createElement("span");
                phoneTypeText.textContent = " (" + phoneTypeSelect.value + ")  ";
                listItem.appendChild(phoneTypeText);

                var removeIcon = document.createElement("i");
                removeIcon.classList.add("fa", "fa-minus", "text-danger");
                removeIcon.addEventListener("click", function () {
                    listItem.remove();
                });
                listItem.appendChild(removeIcon);

                phoneNumbersList.appendChild(listItem);

                phoneNumberInput.value = "";

                // Agregar los datos del teléfono a un campo oculto
                var telefonoData = document.getElementById("telefonos");
                var telefonoInfo = phoneNumber + "-" + phoneTypeSelect.value;
                if (telefonoData.value !== "") {
                    telefonoData.value += ",";
                }
                telefonoData.value += telefonoInfo;
            }
        });

        phoneNumberInput.addEventListener("input", function () {
            phoneNumberInput.classList.remove("is-invalid");
            phoneNumberError.textContent = "";
        });

        function isValidPhoneNumber(phoneNumber) {
            var numericRegex = /^[0-9]+$/;
            return numericRegex.test(phoneNumber);
        }

        function showError(errorMessage) {
            phoneNumberInput.classList.add("is-invalid");
            phoneNumberError.textContent = errorMessage;
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
