@model IEnumerable<Infraestructure.Models.Pedido>
@{
    ViewBag.Title = "IndexSeller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Productos</p>
                            <h5 class="font-weight-light mb-0">
                                Gestione mis productos.
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <a href="@Url.Action("IndexSeller", "Product")">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-shop text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> @Html.DisplayNameFor(model => model.id)</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha Pedido</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.total)</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.EstadoPedido)</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.id)</h6>
                                    @*<p class="text-xs text-secondary mb-0"> @Html.DisplayFor(modelItem => item.PedidoProducto.FirstOrDefault().Producto.nombre)</p>*@
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                @Html.Raw(String.Format("{0:d}", item.fecha_pedido))
                            </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.total)</span>

                        </td>
                        <td class="align-middle text-center">
                            <span class="badge bg-gradient-secondary">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                        </td>
                        <td class="align-middle text-center">
                            <a href="@Url.Action("Details", new { id = item.id })" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Previsualizar Pedido">
                                <i class="fa fa-eye" style="color: forestgreen; margin-right: 10px;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
