@model Infraestructure.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string numeroCompleto = Model.MetodoPago.numero.ToString();
    string ultimosCuatroDigitos = numeroCompleto.Substring(numeroCompleto.Length - 4);

    var subtotal = Model.PedidoProducto.FirstOrDefault().subtotal.ToString("N0");

    string[] estados = { "PENDIENTE", "ACEPTADO", "ENVIADO", "ENTREGADO" };
    int estadoActual = Model.estadoPedidoId;

    var usuario = Session["Usuario"] as Infraestructure.Models.Usuario;
}



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header p-3 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6>Detalles del Pedido</h6>
                            <p class="text-sm mb-0">
                                Orden no. <b>@Html.DisplayFor(model => model.id)</b> desde el <b>
                                    @Html.Raw(String.Format("{0:d}", Model.fecha_pedido))
                                </b>
                            </p>
                            <p class="text-sm">
                                Code: <b>KF332</b>
                            </p>
                        </div>
                         
                        @if (usuario.TipoUsuario.FirstOrDefault().id == 3) // Supongo que el ID 3 corresponde a vendedor
                        {
                            <div class="col-lg-3 col-12 ms-auto">
                                <h6 class="mb-3">Cambiar Estado del Pedido</h6>
                                <div class="d-flex justify-content-between">
                                    <form method="post" action="@Url.Action("CambiarEstado", "Pedido")">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="pedidoId" value="@Model.id" />
                                        <select name="nuevoEstado" class="form-control">
                                            <option value="1" @(Model.estadoPedidoId == 1 ? "selected" : "")>Pendiente</option>
                                            <option value="2" @(Model.estadoPedidoId == 2 ? "selected" : "")>Aceptado</option>
                                            <option value="3" @(Model.estadoPedidoId == 3 ? "selected" : "")>Enviado</option>
                                            <option value="4" @(Model.estadoPedidoId == 4 ? "selected" : "")>Entregado</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary mt-3">Cambiar Estado</button>
                                    </form>
                                </div>
                            </div>
                        }
                        <a href="javascript:;" class="btn bg-gradient-secondary ms-auto mb-0">Factura</a>

                    </div>
                </div>
                <div class="card-body p-3 pt-0">
                    <hr class="horizontal dark mt-0 mb-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            @foreach (var pedidoProducto in Model.PedidoProducto)
                            {
                                <div class="d-flex p-4">
                                    @if (ViewBag.idFoto != null && ViewBag.idFoto.Count > 0)
                                    {
                                        var index = Model.PedidoProducto.ToList().FindIndex(pp => pp == pedidoProducto);
                                        var imageUrls = ViewBag.idFoto as List<string>;

                                        if (imageUrls != null && index < imageUrls.Count)
                                        {
                                            <img src="@imageUrls[index]" class="avatar avatar-xxl me-3" alt="product image">
                                        }
                                    }
                                    <div class="col-lg-4 col-md-4 col-4 text-start">
                                        <h6 class="text-lg mb-0 mt-2">@Html.DisplayFor(modelItem => pedidoProducto.Producto.nombre)</h6>
                                        <span class="badge badge-sm bg-gradient-secondary mt-3">@Html.DisplayFor(modelItem => Model.EstadoPedido.descripcion)</span>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-6 my-auto text-end">
                                        <h6 class="text-sm mt-2 mb-0">Cantidad: X @Html.DisplayFor(modelItem => pedidoProducto.cantidad)</h6>
                                        <h6 class="text-sm mt-2 mb-0">Precio: @Html.DisplayFor(modelItem => pedidoProducto.Producto.precio)</h6>
                                    </div>
                                </div>
                            }



                        </div>
                        @*<div class="col-lg-6 col-md-6 col-12 my-auto text-end">
                                <a href="javascript:;" class="btn bg-gradient-info mb-0">Contactar al vendedor</a>
                                <p class="text-sm mt-2 mb-0">¿Tienes algun problema con este producto?</p>
                            </div>*@
                    </div>
                    <hr class="horizontal dark mt-4 mb-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <h6 class="mb-3">Seguimiento del Pedido</h6>
                            <div class="timeline timeline-one-side">
                                @for (int i = 0; i < estados.Length; i++)
                                {
                                    string iconClass;

                                    if (i < estadoActual)
                                    {
                                        iconClass = "fa fa-check-circle text-success";
                                    }
                                    else if (i == estadoActual)
                                    {
                                        iconClass = "fa fa-handshake-o text-primary";
                                    }
                                    else
                                    {
                                        switch (i)
                                        {
                                            case 1:
                                                iconClass = "fa fa-box text-primary";
                                                break;
                                            case 2:
                                                iconClass = "fa fa-truck text-primary";
                                                break;
                                            default:
                                                iconClass = "fa fa-box text-primary";
                                                break;
                                        }
                                    }

                                    <div class="timeline-block mb-3">
                                        <span class="timeline-step">
                                            <i class="@iconClass"></i>
                                        </span>
                                        <div class="timeline-content">
                                            <h6 class="text-dark text-sm font-weight-bold mb-0">@estados[i]</h6>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-12">
                            <h6 class="mb-3">Detalles del Pago</h6>
                            <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                                <img class="w-10 me-3 mb-0" src="../../../Content/img/logos/mastercard.png" alt="logo">
                                <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;@ultimosCuatroDigitos</h6>
                                <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="We do not store card details">
                                    <i class="fas fa-info" aria-hidden="true"></i>
                                </button>
                            </div>
                            <h6 class="mb-3 mt-4">Información de facturación</h6>
                            <ul class="list-group">
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">Cliente: @Html.DisplayFor(model => model.Usuario.nombre) @Html.DisplayFor(model => model.Usuario.apellidos)</h6>
                                        <span class="mb-2 text-xs">Numero Telefono: <span class="text-dark font-weight-bold ms-2">@Html.DisplayFor(model => model.Usuario.Telefono.FirstOrDefault().numero)</span></span>
                                        <span class="mb-2 text-xs">Email: <span class="text-dark ms-2 font-weight-bold">@Html.DisplayFor(model => model.Usuario.email)</span></span>
                                        <span class="text-xs">Direccion: <span class="text-dark ms-2 font-weight-bold">@ViewBag.direccionCompleta</span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-12 ms-auto">
                            <h6 class="mb-3">Resumen del pedido</h6>
                            <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm">
                                    Subtotal:
                                </span>
                                <span class="text-dark font-weight-bold ms-2">&#8353 @subtotal</span>
                            </div>

                            <div class="d-flex justify-content-between mt-4">
                                <span class="mb-2 text-lg">
                                    Total:
                                </span>
                                <span class="text-dark text-lg ms-2 font-weight-bold">@*@Model.total.ToString("C0")*@ &#8353; @Model.total.ToString("N0")</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a class="btn btn-primary font-weight-normal" href="@Url.Action("Index","Home", new {id = Model.id})"> Volver al Inicio </a>
</div>



