@model IEnumerable<Infraestructure.Models.Pedido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="table-responsive">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Filtrar por estado:</label>
                        <select id="estadoFiltro" class="form-control">
                            <option value="">Todos</option>
                            <option value="1">Pendiente</option>
                            <option value="2">Aceptado</option>
                            <option value="3">Enviado</option>
                            <option value="4">Entregado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> @Html.DisplayNameFor(model => model.id)</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha Pedido</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.total)</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.EstadoPedido)</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="pedido-row estado-@item.estadoPedidoId">
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.id)</h6>

                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                @Html.Raw(String.Format("{0:d}", item.fecha_pedido))
                            </p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.total)</span>

                        </td>
                        <td class="align-middle text-center" >
                            @switch (item.estadoPedidoId)
                            {
                                case 1:
                                    <span class="badge bg-gradient-primary">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                                    break;
                                case 2:
                                    <span class="badge bg-gradient-success">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                                    break;
                                case 3:
                                    <span class="badge bg-gradient-info">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                                    break;
                                case 4:
                                    <span class="badge bg-gradient-danger">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                                    break;
                                default:
                                    <span class="badge bg-gradient-secondary">@Html.DisplayFor(modelItem => item.EstadoPedido.descripcion)</span>
                                    break;
                            }
                        </td>
                        <td class="align-middle text-center">
                            <a href="@Url.Action("Details", "Pedido", new { id = item.id })" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Previsualizar Usuario">
                                <i class="fa fa-eye" style="color: forestgreen; margin-right: 10px;"></i>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#estadoFiltro").change(function () {
                var selectedEstado = $(this).val();
                if (selectedEstado === "") {
                    $(".pedido-row").show(); // Mostrar todas las filas si no se selecciona ningún estado
                } else {
                    $(".pedido-row").hide(); // Ocultar todas las filas
                    $(".estado-" + selectedEstado).show(); // Mostrar filas con el estado seleccionado
                }
            });
        });
    </script>
}